<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Hello user!</h1>
<table cellpadding="10" border="1">
    <tr>
        <th th:width="150">Username</th>
        <th th:width="150">Password</th>
        <th th:width="150">email</th>

    </tr>
    <tr th:object="${user}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
    </tr>

</table>
<br>
<a href="/logout">Log out</a>
</body>
</html>